/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

:root {
    /****** 10px ******/
    font-size: 62.5%;
    color: rgb(48, 48, 83);
    font-family: sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    width: 100vw;
    max-width: 1350px;
    height: 100vh;
}



/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/