/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
    display: inline-block;
    margin: 0 auto;
}

#hidden-card {
    width: 226px;
    height: 314px;
}

.none {
    display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/