/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body,
button {
    text-transform: uppercase;
}

button {
    margin: 1rem 0;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

button {
    color: white;
    background: black;
    padding: 1rem 1.5rem;
}



/******************************************
/* LAYOUT
/*******************************************/
header {
    display: flex;
    justify-content: space-between;
}

header>img {
    /*width: 15%;*/
}

header>a {
    align-self: center;
}

header>ul>li,
header>a {
    padding: 1rem;
}

main {
    background: url('../assets/shutterstock_1253983513.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding-left: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

main>.black {
    width: 25%;
}

main>* {
    color: white;
}

h1 {
    width: 50%;
}

.black-box {
    width: 40%;
    padding: 1rem 0.5rem;
}

.black-box>button {
    color: black;
    background: white;
}

#blonde-bg {
    background: url('../assets/Aesthetik-dresDermal\ 1-1.webp');
}

.triple-container {
    display: flex;
    margin: 3rem auto;
    justify-content: center;
}

.triple-container>section {
    display: flex;
    flex-direction: column;
}

.triple-container>section> {
    width: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/